{% extends "eralp.html" %}

{% block title %}
    Reset your password
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="col-3">
            <img class="img-fluid" src="{{ '/images/image/logo.jpeg' }}"/>
        </div>
    </div>
    <!--Login-->
    <div class="container pb-5">
        <div class="row">
            <div class="col-sm-4 mx-auto bg-white rounded-2">
                <h1 class="text-center py-2">Forgotten your password?</h1>
                <p>Enter your e-mail address to obtain a new password.</p>
                <div class="d-flex flex-column justify-content-center">
                    <form method="POST" class="col-9 pb-3">

                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Send e-mail</button>
                        {% csrf_token %}

                    </form>
                    <p class="text-center"><a href="/login">Go to login</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}