h1 a, h2 a {
    color: #000000;
    font-family: 'Cinzel' ;
}

body {
    padding-left: 1px;
}
.page-header {
    background-color: #CC0000;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #FFFFFF;
    font-size: 20pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cinzel', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #CC0000;
    float: right;
    font-size: 50pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h2 a,
.post h2 a:visited {
    color: #CC0000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #660066;
    background: none;
    border-color: #660066;
}

.btn-secondary:hover {
    color: #CC0000;
    background-color: #660066;
}
/* div align right, text color white */
.links {
    text-align: right;
    color: #FFFFFF;
}
.links>a {
    color: #FFFFFF;
}