<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mumtaz Eralp's WebPage</title>
</head>
<body>
    <header>

        <h1> SWE-578 Project
    </header>

    <article>
        <time>
            Published: 05.11.2022 11:45
        </time>
        <h2>
            <a href="">
                My First Post
            </a>
        </h2>
        <p> Hello World! </p>
        <p> This is my First WebPage </p>
    </article>

    <article>



    </article>

    <article>
        <time>
            Published: 05.11.2022 11:45
        </time>
        <h2>
            <a href="">
                My Second Post
            </a>
        </h2>
        <p> Hello World! </p>
        <p> This is second entry WebPage </p>
    </article>

 <p></p>
    <p></p>


</body>
</html>