<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Mumtaz Eralp's WebPage </title>
</head>
<body>
    <header>
        <h1>
            SWE-578 Project
        </h1>

    </header>


{% for post in posts %}
    <article>
        <time>
            Published: {{ post.published_date }}
        </time>
        <h2>
            <a href="">
                {{ post.title }}
            </a>
        </h2>
        <p> {{ post.text|linebreaksbr }} </p>

    </article>
{% endfor %}

 <p></p>
    <p></p>


</body>
</html>