{% extends 'posts/base.html' %}

{% load static %}

{% block content %}



    <style>
        .profile.pic {
            max-width: 200px;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 50%;
        }

    </style>

    <br>




    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">


                <hr>
                <h3 style="text-align: center"> Account Settings</h3>
                <hr>
                <img class="profile-pic" src="{{ request.user.profile.photo.url }}">

                <br>
                <br>

                <div>

                    <a class="btn btn-warning " href="{% url "password_change" %}"> Change Your Password
                    </a>
                    <br>
                    <br>
                    <a class="btn btn-warning " href="{% url 'post_list' %}"> Back to Home
                    </a>
                    <br>
                    <br>


                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">


                <div>


                    <h1>Edit your account</h1>

                    <p>You can edit your account using the following form:</p>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {#{{ user_form.as_p }}#}
                        {#{{ profile_form.as_p }}#}
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">First name:</label>
                            <input class="form-control" type="text" name="first_name"
                                   value="{{ user_form.first_name.value }}" maxlength="150" id="id_first_name">
                        </div>
                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">Last name:</label>
                            <input class="form-control" type="text" name="last_name"
                                   value="{{ user_form.last_name.value }}" maxlength="150" id="id_last_name">
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">Email address:</label>
                            <input class="form-control" type="email" name="email" value="{{ user_form.email.value }}"
                                   maxlength="254" id="id_email">
                        </div>
                        <div class="mb-3">
                           {{ profile_form.as_p }}
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary"> Save changes</button>
                        </div>

                    </form>


                </div>

            </div>
        </div>
    </div>






{% endblock %}>