{% extends 'posts/base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" id="Total Posts">
                    <div class="card-header">
                        <h5 class="card-title"> Total Posts</h5>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title">{{ posts.count }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center mb-3" id="Likes">
                    <div class="card-header">
                        <h5 class="card-title"> Likes</h5>
                    </div>

                    <div class="card-body">
                        <h3 class="card-title"></h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Post Title</th>
            <th scope="col">Post Link</th>
            <th scope="col">Post Tags</th>
            <th scope="col">Post Label</th>
            <th scope="col">Post Text</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.link }} </td>
                <td>{{ post.tags }}</td>
                <td>{{ post.labels }}</td>
                <td title="{{ post.text|slice:"0:200" }}">{{ post.text|slice:"0:10" }}...</td>
                <td>
                    <a href="{{ post.link }}" target="_blank" class="btn btn-outline-primary"> Goto> </a>
                    <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-outline-warning">Edit</a>
                    <a href="{% url 'post_remove' pk=post.pk %}" class="btn btn-outline-danger">Delete</a>
                    <a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-outline-success">Comment</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}>