{% extends 'posts/base.html' %}

{% block content %}

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Post Title</th>
      <th scope="col">Post Link</th>
      <th scope="col">Post Tags</th>
        <th scope="col">Post Upload</th>
        <th scope="col">Post Text</th>
     <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>Edit Delete Comment</td>

    </tr>
  </tbody>
</table>
{% endblock %}>