{% extends 'posts/base.html' %}

{% block content %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
        {% if tag %}
            <h2>Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}
        {% for post in posts %}
            <div class="col">
                <div class="card shadow-sm">

                    <img src="" alt=""/>
                    <div class="card-body">
                        <a href="/post/{{ post.id }}" class="text-decoration-none">
                            <h3 class="text-overflow" title="{{ post.title }}">{{ post.title }}</h3>
                        </a>



                        <p class="card-text card-summary">{{ post.text|linebreaksbr }}</p>

                        <p class="tags">
                            Tags:
                            {% for tag in post.tags.all %}
                                <a href="{% url "post_list_by_tag" tag.slug %}">
                                    {{ tag.name }}
                                </a>
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <a class="btn btn-outline-dark" href="{% url 'post_share' pk=post.id %}">Share this
                                    post </a>

                                <a href="/post/{{ post.id }}/comment/" class="btn btn-outline-success">
                                    Comment> </a>
                                {% if post.link %}
                                    <a href="{{ post.link }}" target="_blank" class="btn btn-outline-primary"">
                                    Goto> </a>
                                {% else %}
                                    There is no Link
                                {% endif %}

                                <div class="bd-example-snippet bd-code-snippet">
                                    <div class="bd-example">
                                        <div class="btn-group w-100 align-items-center justify-content-between flex-wrap">
                                            <div class="dropend">
                                                <button class="btn btn-dark dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    Action
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><h6 class="dropdown-header">Choose Action</h6></li>
                                                    <li><a class="dropdown-item" href="#">Like</a></li>
                                                    <li><a class="dropdown-item" href="#">Award</a></li>
                                                    <li><a class="dropdown-item" href="#">Prioritize</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <small class="text-muted">Published: {{ post.published_date }}</small>
                            <a href="/users/{{ post.author_id }}" class="text-muted small"> User: {{ post.author }}</a>
                        </div>
                    </div>

                </div>
            </div>

            {% comment %}<article>
            <time>
                Published: {{ post.published_date }}
            </time>
            <h2>
                <a href="/post/{{ post.id }}">
                    {{ post.title }}
                </a>
            </h2>
            <p> {{ post.text|linebreaksbr }} </p>

        </article>{% endcomment %}
        {% endfor %}
    </div>
{% endblock %}

