{% extends 'posts/base.html' %}

{% block content %}



    <div class="row">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            {% if post.tags %}
                <h2>Posts tagged with "{{ post.tags }}"</h2>
            {% endif %}
            <p class="blog-post-meta"> {{ post.published_date }} by <a href="#"> {{ post.author }}</a></p>
            <p>
                <a href="{{ post.link }}">{{ post.link }}</a>
            </p>

            <p>{{ post.text|linebreaksbr }}</p>

        </div>
        {% if request.user.id == post.author_id %}
            <div>


                <a class="btn btn-outline-warning" href="{% url 'post_edit' pk=post.id %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>

                <a class="btn btn-outline-danger" href="{% url 'post_remove' pk=post.pk %}">
                    {% include './icons/clipboard-x.svg' %}
                </a>
                <a href="{{ post.link }}" target="_blank" class="btn btn-outline-primary"> Goto> </a>
            </div>
        {% endif %}
        <br>
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{% url "post_list_by_tag" tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <div>
            <br>
            <a class="btn btn-outline-success" href="comment/">Add comment</a>
            <a class="btn btn-outline-dark" href="{% url 'post_share' pk=post.id %}">Share this post </a>

            <form method="POST" action="{% url 'like_post' post.pk %}">

                {% csrf_token %}

                <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-secondary "> {{ total_likes }} Like</button>

            </form>


        </div>


        {#        <div>#}
        {#            <br>#}
        {#            <h2>Similar posts</h2>#}
        {#            {% for post in similar_posts %}#}
        {#                <p>#}
        {#                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>#}
        {#                </p>#}
        {#            {% empty %}#}
        {#                There are no similar posts yet.#}
        {#            {% endfor %}#}
        {#        </div>#}
        <div>
            {% for comment in post.comments.all %}

                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                         xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#007bff"></rect>
                        <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
                    </svg>

                    {% with comments.count as total_comments %}
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                        <span>
                            {{ total_comments }} comment{{ total_comments|pluralize }}
                        </span>
                        <p class="info">
                            Comment {{ forloop.counter }} by {{ comments.user }}
                            {{ comment.created }}
                        </p>
                        {{ comment.body|linebreaks }}
                        <strong class="d-block text-gray-dark">by {{ comment.author_id }} </strong>
                        <span class="text-muted">{{ comment.created_date }}</span>
                        <div class="text-dark">
                            {{ comment.text }}

                        </div>
                    {% endwith %}
                    </div>

                </div>
                {#                <div class="comment">#}
                {#                    <div class="date">{{ comment.created_date }}</div>#}
                {#                    <strong>{{ comment.author.first_name }}</strong>#}
                {#                    <p>{{ comment.text|linebreaks }}</p>#}
                {#                </div>#}
            {% endfor %}

            {% if not post.comments.all %}
                <p>There is no comment under this post... :(</p>
            {% endif %}


        </div>
    </div>

{% endblock %}>