{% extends 'posts/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="col">
            <div class="card shadow-sm">

                <img src="" alt=""/>
                <div class="card-body">
                    <a href="/post/{{ post.id }}" class="text-decoration-none">
                        <h3 class="text-overflow" title="{{ post.title }}">{{ post.title }}</h3>
                    </a>
                    <p class="card-text card-summary">{{ post.text|linebreaksbr }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Go To</button>
                        </div>
                        <small class="text-muted">Published: {{ post.published_date }}</small>
                    </div>
                </div>

            </div>
        </div>

        {% comment %}<article>
            <time>
                Published: {{ post.published_date }}
            </time>
            <h2>
                <a href="/post/{{ post.id }}">
                    {{ post.title }}
                </a>
            </h2>
            <p> {{ post.text|linebreaksbr }} </p>

        </article>{% endcomment %}
    {% endfor %}

{% endblock %}

