{% extends 'posts/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">

            <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>

            <a class="btn btn-secondary" href="{% url 'post_remove' pk=post.pk %}">
                {% include './icons/clipboard-x.svg' %}
            </a>

            {% if post.published_date %}
                <time class="date">
                    {{ post.published_date }}
                </time>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <a href="{{ post.link }}">{{ post.link }}</a>
            <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <hr>

    <a class="btn btn-default" href="comment/">Add comment</a>

    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% endfor %}

    {% if not post.comments.all %}
        <p>There is no comment under this post... :(</p>
    {% endif %}


{% endblock %}>

